.left-navigation {
    flex: 1;
}

.left-drawer .left-navigation {
    z-index: -2;
}

.mdl-layout .left-navigation .mdl-navigation__link:hover {
    background-color: #00BCD4;
    color: #37474F;
}

.left-drawer .material-icons {
    padding-right: 16px;
}

.user-avatar {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    margin-bottom: 16px;
}

.drawer-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 32px 10px;
    align-items: center;
}

.left-navigation a.login.mdl-navigation__link {
    background-color: #00c853;
    color: white;
}

main.mdl-layout__content {
    padding: 32px;
}

.mdl-textfield {
    width: 800px;
}

textarea {
    resize: none;
}
